@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk:MORF@18&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(209, 134, 35);
    text-align: center;
    margin: 0;
    padding: 20px;
}

h2{
    color: white;
    font-size: 60px;
    font-family: 'Honk';


}
form{
    max-width: 300px;
    margin: 0 auto;
    background-color: bisque;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0);
    
}
label{
    display: block;
    margin-bottom: 8px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
input{
    width: 100%;
    margin-bottom: 16px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;

}
.error{
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 16px;
    display: block;
}

input[type="submit"] {
    background-color: greenyellow;
    border: none;
    padding: 10px 20px;
    border-radius: 89px;
    cursor: pointer;
    font-family: 'Kanit';
    font-size: larger;

}

input[type="submit"]:hover{
    background-color: aqua;
    transition: all 1.5s;
    
}